.seccion_2{
    max-width: 37.5rem;
    height: 20rem;
    margin: auto;
   
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 4rem 8rem 8rem; 

    gap: 10px;
}

.seccion_2 h2{
    grid-row: 1/2;
    align-self: center;
}

.seccion_2 div{
    border: 1px solid black;
    /* esta etiqueta le da un borde circular a las esquinas */
    border-radius: 5px;

    background-color: rgb(252, 170, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}